.App {
    font-family: Arial;
}

.App a {
    color: #26738D;
    text-decoration: none;
}

.App h1 {
    font-size: 2rem;
}

.App h2 {
    color: #353944;
}

.App h3 a {
    color: #353944;
}

.App .container {
    max-width: 800px;
    margin-bottom: 0.25rem;
}

.App .foo {
    max-width: 800px;
    margin-bottom: 2.25rem;
}

.App-header {
    background-color: #353944;
    color: #fff;
    font-size: calc(10px + 1vmin);
    padding: 1rem;
}

.App-header a {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    
}

.heading {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.title {
    font-size: x-large;
    font-weight:lighter;
    color: #ffff00
}

.logo {
    font-size: x-large;
    font-weight: lighter;
    color: #ffff00;
    border: 1px solid #ffff00;
    padding: .25rem
}

.date {
    font-weight: bold;
    /* padding-bottom: 1rem; */
    margin-top: .5rem;
    font-style: italic;
    font-size: 12px;
}

.post  { 
    /* margin: 0 0 2em;  */
    padding-top: 1rem;
}

.single-post .post  { 
    border-bottom: none; 
}

.user-icon {
    margin: '.5rem';
    float: 'rigbt';
}

.user-icon:hover {
    cursor: pointer;
}

.postTitle {
    font-size: x-large;
}

.postBody {
    padding-top: 1rem;
}

.App-header a:hover {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

.App-header ul {
    padding: 1px;
}

.App-header li {
    list-style: none;
    display: inline;
    padding: 1rem;
    font-weight: bold;
    font-size: large;
}

.App-header li:first-child {
    padding-left: 0;
}

.App article {
    padding: 1rem;
}

.loginButton {
    float: right;
}
.logoutButton {
    float: right;
}

.App article ul {
    margin: 0;
    padding: 0;
}

.App article ul li {
    list-style: none;
}

.App article h3 {
    font-size: calc(14px + 2vmin);
}

.App-link {
    color: #61dafb;
}

.App-message {
    background-color: #55A9D6;
    color: white;
    padding: 2rem 1rem;
    text-shadow: 0 1px 0 #444;
}

.App-message.saved {
    background: #51BB7A;
}

.App-message.logout {
    background: #51BB7A;
}

._3oc4k[style] {
    background-color: black !important;
}

._20VaH[style] {
    background-color: black !important;
}

._CXD_f[style] {
    margin-top: 3rem !important;
}

._1Oc7K {
    visibility: hidden !important;
}

/*._1Vv8n {*/
/*    visibility: hidden;*/
/*}*/

._CXD_f {
    visibility: hidden;
}

._12xdX ._2STY7 {
    height: 0;
}

.ib {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .5rem;
}

.ib-delete {
    padding-top: .5rem;
    /* display: inline-block; */
    float: right;
    /* position: absolute;
    right: 25%; */
}

.ib-delete:hover {
    cursor: pointer;
}

.ib-edit {
    padding-top: .5rem;
    display: inline-block;
    position: absolute;
    right: 23.5%;
}

.reply-input {
    width: 100%;
    height: 5rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.ib-edit:hover {
    cursor: pointer;
}

hr.solid {
    margin-top: 2rem;
    border-top: thin;
    width: 100%;
}

.register-button-div {
    padding-right: 1rem;
    float: right;
    display: inline-block;
}

.submit-comment-button {
    float: right;
    display: inline-block;
}

.btn-primary {
    background-color: black !important;
    color: #ffffff !important;
}

.register {
    padding-block: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    background-color: #f8f8f8;
    border-radius: .5rem;
    border-style: solid;
    border-color: #353944;
    border-width: thin;
    display: inline-block;
    width: 100%;
}

.App-message.deleted {
    background: #FF3F69;
}

.App-message.loginError {
    background: #FF3F69;
}

.App-message.error {
    background: #FF3F69;
}

.App form {
    padding: 1rem;
}

.App form input {
    border: 1px solid #ccc;
    padding: .3rem;
    background-color: #ffffff;
}

.App form label {
    display: block;
    padding: .5rem 0;
}

.App form input#form-title {
    min-width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
}

.App form .ql-editor {
    min-height: 15rem;
}

.App form .form-button {
    background-color: #353944; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    margin-top: .5rem;
    margin-right: .5rem;
}

.App form .form-button:hover {
    cursor: pointer;

}

.App form .form-button:disabled {
    cursor: pointer;
    background-color: lightgrey;
    cursor: default;
}

.App button.linkLike {
    border: none;
    font-size: inherit;
    color: #26738D;
    padding: 0;
    background: transparent;
    text-decoration: none;
}

.App button.linkLike:hover {
    cursor: pointer;
}

.App button.logout {
    border: none;
    font-size: inherit;
    color: #ffffff;
    padding: 0;
    background: transparent;
    text-decoration: none;
}

.popup-content {
    width: 50%;
}

.App button.logout:hover {
    cursor: pointer;
}

.reply-button {
    background-color: transparent;
    border: none;
    color: gray;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 5px !important;
    width: 70px;
    border-radius: 4px;
}

.comment {
    padding-left: 2.5rem;
    padding-bottom: 1rem;
}

.reply {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.label {
    display: block;
}

.replies {
    margin-left: 35px;
    border-left: 2px solid #c7c7c7;
    margin-top: 6px;
}

.requiredField {
    color: darkred;
    display: block;
    font-style: italic;
    font-size: small;
}